# ---------------------------------------------------------------------
# Common variables and declarations
# ---------------------------------------------------------------------

# -- Common env variables
x-common-env: &common-env
  # Postgres variables, fullfill both as OX_* are passed down to Oxylus
  POSTGRES_USER: oxylus
  POSTGRES_PASSWORD: secret
  POSTGRES_DB: oxylus
  POSTGRES_HOST: db
  POSTGRES_PORT: 5432
  OX_ENV: production
  OX_VENV_DIR: /srv/oxylus/.venv
  OX_HOST: 0.0.0.0
  OX_PORT: 8001
  OX_DAV_PORT: 8002

# -- Base container for oxylus services
x-oxylus-simple-container: &oxylus-simple-container
  image: oxylus-server:latest
  build:
    context: .
    dockerfile: scripts/runtime.Dockerfile
  environment:
    <<: *common-env
  volumes:
    - oxylus: /srv/oxylus
    - oxylus-static:/srv/oxylus/static
    - oxylus-conf:/etc/oxylus/
    - oxylus-venv:/etc/oxylus/.venv
  depends_on:
    - db

# -- Container to use for oxylus services (awaiting setup)
x-oxylus-container: &oxylus-container
  <<: *oxylus-simple-container
  depends_on: &oxylus-container-depends
    db:
        condition: service_started
    oxylus-setup:
        condition: service_completed_successfully


# ---------------------------------------------------------------------
# Actual docker compose settings
# ---------------------------------------------------------------------
volumes:
  db-data:
  oxylus-static:
  oxylus-conf:

services:
  db:
    image: postgres:15
    environment:
      <<: *common-env
    volumes:
      - db-data:/var/lib/postgresql/data

  oxylus:
    <<: *oxylus-container
    command: server
    environment:
      <<: *common-env
      OX_DEBUG: false
    ports:
        - "8001:8001"
    depends_on:
      <<: *oxylus-container-depends
      oxylus-tasks:
          condition: service_started

  oxylus-setup:
    <<: *oxylus-simple-container
    command: setup

  oxylus-dav:
    <<: *oxylus-container
    command: dav
    ports:
        - "8002:8002"
    depends_on:
        <<: *oxylus-container-depends
        oxylus-tasks:
            condition: service_started

  oxylus-tasks:
    <<: *oxylus-container
    command: tasks
    depends_on:
        <<: *oxylus-container-depends

  nginx:
    image: nginx:1.25
    ports:
      - "80:80"
      - "443:443"
      - "8042:8042"
    volumes:
      - ./scripts/conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - oxylus-static:/srv/oxylus/static
    depends_on:
      - oxylus
